[submodule "model_explorer/third_party/yolop_det_seg"]
	path = model_explorer/third_party/yolop_det_seg
	url = https://github.com/hustvl/YOLOP
[submodule "model_explorer/third_party/timeloop"]
	path = model_explorer/third_party/timeloop
	url = https://github.com/NVlabs/timeloop
